.page-header__right {
    display: flex;
    gap: 1rem;
}

.page-header__right .primary-btn {
    background: #b60202;
    padding: 0.5rem 1.5rem;
    color: var(--color_light);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.72rem;
}

.page-header__right .primary-btn:hover {
    background: var(--color_danger);
    border: 1px solid transparent;
}

.page-header__right span {
    font-size: 1.5rem;
    display: flex;
}

.page-header__right button {
    background: var(--color_light);
    border: 0;
    padding: 0.4rem 0.7rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
    position: relative;
}

.page-header__right button:hover {
    background: #c0c0c0;
}

.page-header__right button:nth-child(3) {
    position: fixed;
    padding: 0.7rem;
    right: 6rem;
    background: var(--color_dark);
    color: var(--color_light);
    opacity: 0.2;
}

.page-header__right button:nth-child(3):hover {
    opacity: 0.5;
}










.about__menu {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: -24rem;
    top: 12.5rem;
    width: 16rem;
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
}

.active-about__menu {
    right: 6rem;
    transition: all 400ms ease;
}

.about__menu button {
    border: 0;
    background: transparent;
    color: var(--color_light);
    width: fit-content;
    font-size: 1.2rem;
    margin-left: auto;
    cursor: pointer;
}

.about__menu-item {
    display: flex;
    flex-direction: column;
}

.about__menu a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    transition: all 400ms ease;
}

.about__menu a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.about__menu-item span {
    display: flex;
}
















.about__container section:nth-child(odd) {
    background: var(--color_light_gray);
}

.about__container section:nth-child(even) .goal__body {
    flex-direction: row-reverse;
}

.goal__header {
    margin-bottom: 5rem;
}

.goal__content {
    width: 100%;
}

.goal__body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.goal__left {
    font-size: 15rem;
    color: var(--color_secondary);
    display: flex;
    
}

.goal__right p {
    max-width: 40rem;
}

.goal__right p:not(:first-child) {
    margin-top: 1rem;
}

.goal__right b {
    color: var(--color_primary);
}





/* TEAM SECTION */
.team__container {
    background: var(--color_primary);
}

.team__section-header {
    color: var(--color_light);
}

.team__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.team__card {
    background: var(--color_secondary);
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.team__card:first-child {
    grid-row: 1 / 3;
}

.team__card-image {
    height: 18rem;
    overflow: hidden;
    border-radius: 0.6rem;
}

.team__card-image img {
    border-radius: 0.6rem;
}

.team__card:first-child .team__card-image {
    height: 33rem;
}

.team__card .primary-btn {
    margin-top: auto;
    padding: 0.4rem 1.5rem;
}

.team__card-text small {
    color: var(--color_light_gray);
}

.profile__container {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    overflow: auto;
    align-items: flex-start;
    opacity: 1;
    color: var(--color_light);
    transition: all 600ms ease;
}

.active-profile__container {
    opacity: 0;
    z-index: -1;
}

.profile__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.profile__content button {
    background: var(--color_light);
    border: 0;
    padding: 0.4rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
}

.profile__body {
    display: flex;
    gap: 2rem;
    background: var(--color_primary);
    padding: 2rem;
}

.profile__body-header {
    width: 20rem;
    white-space: nowrap;
}

.profile__body-image {
    width: 10rem;
}

.profile__body-image img {
    border-radius: 0.6rem;
}

.profile__body-name small {
    color: var(--color_secondary);
}

.profile__body-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile__body-details .heading {
    background: var(--color_secondary);
    color: var(--color_primary);
    padding: 0.2rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
}

.profile__body-details .heading span {
    color: var(--color_light);
}

.profile__body-details div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile__body-details h5 {
    color: var(--color_secondary);
}

.profile__body-details ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile__body-details li {
    list-style-type: disc;
    margin-left: 1.5rem;
}











@media screen and (max-width: 1024px) {
    .page-header__right button:nth-child(3), .active-about__menu {
        right: 3rem;
    }




    .team__body {
        grid-template-columns: repeat(3, 1fr);
    }
}












@media screen and (max-width: 600px) {
    .page-header__right {
        position: absolute;
        top: 15.5rem;
        right: 2rem;
        /* left: 50%; */
        /* transform: translateX(-50%); */
        /* justify-content: center; */
        /* width: 100%; */
    }




    .page-header__right button:nth-child(3) {
        right: 2rem;
    }

    .about__menu {
        right: -19rem;
        top: 19.5rem;
    }

    .active-about__menu {
        right: 2rem;
        transition: all 400ms ease;
    }

    .profile__body {
        flex-direction: column;
        padding: 1rem 0.5rem;
        gap: 1rem;
    }

    .profile__body-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }











    .about__container section:nth-child(even) .goal__body {
        flex-direction: column;
    }

    .about__container section:first-child {
        margin-top: 4rem;
    }

    .goal__header {
        margin-bottom: 3rem;
    }
    
    .goal__body {
        flex-direction: column;
        gap: 2rem;
    }











    .team__body {
        grid-template-columns: 1fr;
    }

    .team__card:first-child .team__card-image {
        height: unset;
    }

    .team__card-image {
        height: unset;
    }

    .team__card-text h5 {
        font-size: 1rem;
    }

    .team__card-text small {
        font-size: 1rem;
    }
}