/* .border__container {
    position: relative;
    width: 18rem;
    height: 10rem;
    margin-inline: auto;
    background: yellow;
}

.border__item {
    position: absolute;
    width: 18rem;
    height: 10rem;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border__item1 {
    background: blue;
}

.border__item2 {
    background: green;
    top: 5%;
    border-radius: 0 1rem 1rem 0;
    
}

.border__item3 {
    background: red;
    left: -5rem;
    border-radius: 0 1rem 1rem 0;
} */