

.hero__container {
    background-image: url(../images/project-asset10.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: calc(100dvh - 6.5rem);
    color: var(--color_light);
    margin: 1rem;
    margin-top: 5.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.hero__overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%);
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: 6rem;
    display: flex;
    align-items: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 50%;
}

.hero__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.border__container {
    width: 20rem;
    position: absolute;
    bottom: -0.48rem;
    right: -0.04rem;
}

.border__mobile {
    display: none;
}







/* ABOUT SECTION */

.about__body {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about__left {
    max-width: 40rem;
    overflow: hidden;
}

.about__left video {
    width: 100%;
}

.about__right {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__right h1 {
    font-size: 2.4rem;
}

.about__right p {
    color: var(--color_dark_gray);
}

.about__right button {
    align-self: flex-start;
}

.about__right .primary-btn:hover {
    border: 1px solid var(--color_primary);
    color: var(--color_primary);
}












/* SERVICES SECTION */
.services__container {
    background: var(--color_light_gray);
    align-items: flex-start;
}

.services__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
}

.services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: white;
    border: 1px solid rgb(161, 161, 161);
    padding: 1.5rem;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.services__card:hover {
    box-shadow: 0 3px 4px transparent;
    
}

.services__card:hover .services__icon {
    transform: translateY(-8px);
}

.services__icon {
    width: 6rem;
    transition: all 400ms ease;
}

.services__card h4 {
    color: var(--color_primary);
}

.services__card small {
    color: var(--color_dark_gray);
}
















/* PROJECTS SECTION */
.projects__container {
    background: var(--color_primary);
    align-items: flex-start;
}

.project__section-header {
    color: var(--color_light);
}

.project__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}

.project__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color_light);
}

.project__card:nth-child(even) {
    flex-direction: column-reverse;

}

.project__card:nth-child(even) .primary-btn {
    background: var(--color_secondary);
}

.project__card:nth-child(even) .primary-btn:hover {
    background: transparent;
}

.project__image {
    border-radius: 0.5rem;
    overflow: hidden;
}

.project__image img {
    border-radius: 0.5rem;
}

.project__card h4 {
    color: var(--color_secondary);
}




















/* STATUS SECTION */
.status__container {
    min-height: 50dvh;
}

.status__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14rem;
    margin-inline: auto;
}

.status__body div {
    width: 12rem;
}

.status__body div:first-child {
    width: 18rem;
}



















@media screen and (max-width: 1024px) {
    .hero__overlay {
        padding-inline: 3rem;
    }
    
    .hero__content {
        max-width: 55%;
    }

    .hero__content p {
        font-size: 0.875rem;
    }













    /* ABOUT SECTION */
    .about__right {
        max-width: 28rem;
    }

    .about__right h1 {
        font-size: 2rem;
    }

    .about__right p {
        font-size: 0.875rem;
    }








    /* PROJECT SECTION */
    .project__body {
        gap: 3rem;
    }









    /* STATUS SEECTION */
    .status__body {
        gap: 4rem;
    }


    
    
}












@media screen and (max-width: 600px) {

    .hero__container {
        height: calc(100dvh - 6rem);
        margin: 0.5rem;
        margin-top: 5rem;
    }
    
    
    .hero__overlay {
        padding-inline: 1rem;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
    }
    
    .hero__content {
        max-width: 100%;
        
    }

    .hero__buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .border__container {
        width: 10rem;
        bottom: -0.04rem;
        right: -0.04rem;

    }

    .border__desktop {
        display: none;
    }

    .border__mobile {
        display: block;
    }









    /* ABOUT SECTION */
    .about__content {
        text-align: center;
    } 

    .about__body {
        flex-direction: column;
        gap: 1rem;
    }

    .about__right {
        max-width: 100%;
    }

    .about__right h1 {
        font-size: 1.9rem;
    }

    .about__right button {
        align-self: center;
    }







    /* SERVICES SECTION */
    .services__body {
        grid-template-columns: 1fr;
    }









    /* PROJECT SECTION */
    .project__body {
        grid-template-columns: 1fr;
    }

    .project__card:nth-child(even) {
        flex-direction: column;
    }









    /* STATUS SECTION */
    .status__body {
        flex-direction: column;
    }
}

