.nav__container {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    background-color: var(--color_primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav__logo {
    width: 10rem;
    transition: transform 400ms ease;
}

.nav__logo:hover {
    transform: translateX(10px);
}

.nav__links {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.nav__links a {
    font-weight: 300;
    transition: color 400ms ease;
}

.nav__links a:hover {
    color: var(--color_secondary);
}

.nav__socials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: white;
}

.nav__socials a {
    display: flex;
    align-items: center;
    /* padding: 0.3rem; */
    border-radius: 0.3rem;
    transition: all 400ms ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.nav__socials a:hover {
    background: transparent;
    transform: scale(1.2);
}

.nav__socials a:first-child {
    background: #628de2;
}
.nav__socials a:first-child:hover {
    background: transparent;
}

.nav__socials a:nth-child(2) {
    background: #0da144;
}
.nav__socials a:nth-child(2):hover {
    background: transparent;
}

.nav__socials a:nth-child(3) {
    background: #d40606;
}
.nav__socials a:nth-child(3):hover {
    background: transparent;
}

.nav__socials a:nth-child(4) {
    background: #4267B2;
}
.nav__socials a:nth-child(4):hover {
    background: transparent;
}

.nav__socials a:last-child {
    background: #14171A;
}
.nav__socials a:last-child:hover {
    background: transparent;
}

.nav__menu-btn {
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}












.main__content {
    margin-top: 4.5rem;
    min-height: calc(100dvh - 4.5rem);
}













.footer__container {
    width: 100%;
    padding: 2rem 6rem 1rem;
    background-color: var(--color_primary);
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__logo {
    width: 15rem;
}

.footer__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

.footer__links a:hover {
    text-decoration: underline;
}

.footer__map {
    width: 30rem;
    height: 22rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    overflow: hidden;
}

.footer__right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__right h3 {
    color: var(--color_secondary);
}

.footer__contacts small, .footer__address small {
    color: var(--color_secondary);
    display: block;
}

.footer__contacts p:nth-child(2) small, 
.footer__address p:nth-child(2) small {
    margin-top: 0.2rem;
}

.footer__address {
    max-width: 20rem;
}

.footer__bottom {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.painless-logo {
    width: 17rem;
    transition: transform 400ms ease;
}

.painless-logo a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
}

.painless-logo:hover {
    transform: translateX(5px);
}








@media screen and (max-width: 1024px) {
    .nav__container {
        padding: 0 3rem;
    }

    .nav__links {
        display: non;
        position: absolute;
        top: 4.5rem;
        right: -26rem;
        width: 22rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        gap: 0;
        align-items: center;
        transition: right 400ms ease;
    }

    .nav__links li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background-color: var(--color_primary);
    }

    .nav__links li:last-child {
        border-bottom: none;
    }

    .nav__links a {
        display: block;
        width: 100%;
        padding: 1rem 0;
        transition: all 400ms ease;
    }
    .nav__links a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav__links.active {
        right: 0;
        transition: right 400ms ease;
    }

    .nav__menu-btn button{
        background: transparent;
        border: none;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
    }

    .nav__menu-btn {
        display: block;
    }

    .nav__menu-btn button {
        display: flex;
    }







    .main__content {

    }







    .footer__container {
        padding-inline: 3rem
    }

    .footer__logo {
        width: 12rem;
    }

    .footer__links {
        font-size: 0.875rem;
    }

    .footer__map {
        width: 21rem;
        height: 19rem;
    }

    .footer__contacts p, .footer__address p {
        font-size: 0.875rem;
    }

    .footer__address {
        max-width: 18rem;
    }

    
}













@media screen and (max-width: 600px) {
    .nav__container {
        padding-inline: 1rem;
    }

    .nav__logo {
        width: 10rem;
    }

    .nav__links {
        width: 18rem;
    }

    .nav__socials {
        display: none;
    }

    .main__content {
    }

    .footer__container {
        padding-inline: 1rem;
    }

    .footer__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 2rem;
    }

    .footer__logo {
        width: 10rem;
    }

    .footer__links {
        margin: 1rem 0 2rem;
    }

    .footer__map {
        width: 100%;
        height: 15rem;
    }

    .footer__right {
        margin-top: 2rem;
    }

    .footer__contacts small, .footer__address small {
        font-size: 0.875rem;
    }

    .footer__contacts p:nth-child(2) small, 
    .footer__address p:nth-child(2) small {
        margin-top: 1.5rem;
    }

    .footer__socials {
        width: fit-content;
        margin-inline: auto;
        display: flex;
    }

    .footer__bottom {
        font-size: 0.875rem;
        flex-direction: column;
        gap: 1rem;
    }

    .painless-logo img{
        width: 12rem;
    }

    .painless-logo a {
        display: flex;
        gap: 0.5rem;
    }
}