.page-header__container {
    height: 10rem;
    background-color: var(--color_primary);
    background-image: url(../images/about-header.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    margin: 1rem;
    margin-top: 5.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.page-header__cover {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}





@media screen and (max-width: 1024px) {
    .page-header__container {
        background-image: url(../images/about-header-medium.jpg);
        
    }
    
    .page-header__cover {
        padding-inline: 2rem;
    }
}





@media screen and (max-width: 600px) {
    .page-header__container {
        background-image: url(../images/about-header-small.jpg);
        margin: 0.5rem;
        margin-top: 5rem;
    }
    
    .page-header__cover {
        padding-inline: 1rem;
        text-align: center;
    }

    
}