.projects__page-header {
    background-image: url(../images/project-header.jpg);
}















@media screen and (max-width: 1024px) {
    .projects__page-header {
        background-image: url(../images/project-header-medium.jpg);
    }
}


















@media screen and (max-width: 600px) {
    .projects__page-header {
        background-image: url(../images/project-header-small.jpg);
    }

    
}