.services__page-header {
    background-image: url(../images/service-header.jpg);
}

.services__container section:nth-child(even) {
    background: white;
    flex-direction: row-reverse;
}











@media screen and (max-width: 1024px) {
    .services__page-header {
        background-image: url(../images/service-header-medium.jpg);
    }
}












@media screen and (max-width: 600px) {
    .services__page-header {
        background-image: url(../images/service-header-small.jpg);
    }

    
}